html {
	
	
}

.TitleAndCentered {
	text-align: center;
}

body,td,th {
	font-family: Arial, Helvetica sans-serif;
	color: rgba(255,255,255,1);
	font-size: 16px;
}

body {
	background-image: url(../images/space_bg.jpg);
	background-color: rgba(0,0,0,1);
	background-size: cover;
	background-repeat: repeat-y;
}

a:link {
	color:#0F0;
	} 
  
a:visited {
	color:#F0F;
	}
  
a:hover {
	color:#AAA;
	} 
  
a:active {
	color:#88F;
	}
  
.menu-bar {
	font-size:  24px;	
}

footer { 
    display: block;
}

div {
	padding: 4px, 10px, 4px, 10px;
}
