html {
	background-image: url(../images/outer-space1.jpg);
	background-color: rgba(0,0,0,1);
	background-repeat: repeat-y;
}

.TitleAndCentered {
	text-align: center;
}

body,td,th {
	font-family: Arial, Helvetica sans-serif;
	color: rgba(255,255,0,1);
	font-size: 16px;
}

body {
	
}

a:link {
	color:#0F0;
	} 
  
a:visited {
	color:#F0F;
	}
  
a:hover {
	color:#AAA;
	} 
  
a:active {
	color:#88F;
	}
  

footer { 
    display: block;
}
div {
	
}
